@import "../Style/Variables.scss";
@import "../Style/Mixin.scss";
body {
  background-color: $bg-all;
  font-weight: $font-400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #52595f;
}
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #52595f;
  &:hover {
    color: $seconday-color;
  }
}
ul {
  padding-left: 0;
  margin-bottom: 0;
  li {
    display: inline-block;
    list-style-type: none;
  }
}
.table > :not(:first-child) {
  border: none;
}
.cl-btn,
.cl-btn-op {
  background-color: $seconday-color;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  border: none;
  position: relative;
  border-radius: 3px;
  font-weight: $font-500;
}
.cl-btn-op {
  background-color: $primary-color;
}
.cl-header {
  padding: 13px 10px;
  background-color: $bg-color;
  border-bottom: 1px solid $bg-all;
  .title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-500;
  }
  .icon {
    color: $primary-color;
    margin-right: 7px;
  }
  @include d-flex;
  span {
    @include ml-auto;
    margin-right: 14px;
    color: #968aac;
    font-size: 12px;
  }
}
.body-section {
  margin-bottom: 25px;
}
.small-image {
  @include small-img;
}
.cl-tabs {
  .react-tabs__tab-list {
    @include ml-auto;
    .react-tabs__tab {
      background-color: $seconday-color;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      margin-right: 5px;
      padding: 4px 10px;
      outline: none;
      transition: $transition;
      &:last-child {
        margin-right: 0;
      }
    }
    .react-tabs__tab--selected {
      background-color: $primary-color;
      cursor: auto;
    }
  }
}

// .active {
//   background: red;
// }

.line-through {
  text-decoration: line-through;
  color: #cbc9c9;
}
