// @import "../Style/Variables.scss";
@mixin box-shadow {
  box-shadow: $box-shadow;
  padding: 15px;
  border-radius: 4px;
  transition: $transition;
  background-color: #fff;;
  &:hover {
    box-shadow: 0 8px 6px rgb(0 0 0 / 9%);
    transition: $transition;
  }
}
@mixin d-flex {
  display: flex;
  align-items: center;
}
@mixin ml-auto {
  margin-left: auto;
}
@mixin search {
  border: none;
  background-color: $bg-color1;
  padding-left: 37px;
}
@mixin header-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: $bg-color1;
  text-align: center;
  border-radius: 50%;
}
@mixin count {
  font-size: 9px;
  position: absolute;
  top: 5px;
  right: 6px;
  width: 14px;
  height: 14px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #bb3b03;
}
@mixin small-img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 100%;
}
@mixin infocard {
  @include box-shadow;
  background-color: $bg-color;
  .card-title,
  .card-content {
    @include d-flex;
  }
  .card-title {
    margin-bottom: $margin-25;
    .title {
      margin-bottom: 0;
      color: #2c4491;
      font-weight: $font-600;
      font-size: 14px;
    }
    .percent {
      color: $primary-color;
      @include ml-auto;
      font-size: 12px;
    }
  }
  .card-content {
    .title {
      margin-bottom: $margin-25;
      color: $font-color;
      font-size: 24px;
      font-weight: $font-600;
    }
    .icon {
      @include ml-auto;
      background-color: $bg-all;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 28px;
      border-radius: 100%;
      color: $primary-color;
      transition: $transition;
    }
    .view-btn {
      color: $seconday-color;
      text-decoration: underline;
      font-size: 14px;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
