@import "../Style/All.scss";
.header-section {
  background: $bg-color;
  padding: 10px 0;
  .top-header {
    display: flex;
    align-items: center;
    .main-logo {
      h1 {
        color: $primary-color;
        font-size: 32px;
        span {
          color: $seconday-color;
        }
      }
    }
    .left-content,
    .right-content ,
     .content-list {
      @include d-flex;
    }
    .content-list {
      li.content-item {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .cl-search {
      margin-left: 30px;
      .form-group {
        width: 205px;
      }
      .icon {
        width: 37px;
        height: 37px;
        line-height: 37px;
        position: absolute;
        text-align: center;
      }
      .form-control {
        @include search;
      }
    }
    .right-content {
      @include ml-auto;
      .secondary-logo {
        .site-title {
          color: $font-color;
          font-weight: $font-600;
          margin-right: $margin-20;
        }
        img {
          width: 35px;
        }
      }
      .menu-link {
        .icon {
          @include header-icon;
        }
      }
      .cl-user {
        display: flex;
        align-items: center;
        img {
          @include small-img;
        }
        p {
          margin-bottom: 0;
          font-weight: 500;
          font-size: 12px;
          small {
            display: block;
            line-height: 10px;
            font-weight: $font-400;
            color: #bfbaba;
          }
        }
      }
    }
    .cl-dropdown {
      position: relative;
      .count {
        @include count;
      }
    }
  }
}

.user-detail {
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0;;
  }
}
.cl-dropdown-menu {
  transform: none;
  text-align: left;
  right: 0;
  .cl-header {
    border: none;
    padding: 10px;
  }
  li{
  display: block;
    &:hover {
      background-color: #ddd;
    }
  }
  .avatar {
    img {
      border-radius: 100%;
      width: 35px;
      height: 35px;
      margin-right: 8px;
    }
  }
  .cl-badge {
    padding: 3px 6px;
    margin-left: auto;
    background: #dbdbdb;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 700;
    border-radius: 5px;
  }
  .list-content {
    text-align: left;
  }
  .user-detail p {
    font-weight: $font-600;
  color: $primary-color;
  font-size: 14px;
  small {
    font-weight: $font-400;
    color: $seconday-color;
    display: block;
  }
  }
  .item {
    transition: $transition;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    transition: $transition;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      border-top: none;
    }
    &:hover {
      background-color: transparent;
      color: $seconday-color;
      margin-left: 5px;
      transition: $transition;
    }
    i {
      margin-right: 10px;
    }
  }
}
.notification-list {
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ebe9f1;
    text-align: center;
    strong {
      font-size: 12px;
      font-weight: 600;
      color: $primary-color;
      span {
        font-weight: normal;
      }
    }
    small {
      display: block;
      color: #939393;
      font-size: 12px;
    }
  }
}
.w-auto {
  width: auto !important;
  min-width: 100% !important;
}
@media only screen and (max-width: 991px) {
  .header-section {
    .top-header{
flex-wrap: wrap;
.right-content  {
  margin-left: 0;
  .secondary-logo {
    .site-title {
      font-size: 12px;
      margin-right: 5px;;
    }
  }
}
    }

  }
  
}