@import "../Style/All.scss";
.cl-navigation {
  padding: 18px 0;
  .navbar-nav {
    .nav-item {
      font-weight: $font-600;
      padding: 8px 10px;
      font-size: 16px;
      color: $font-color;
      .icon {
        color: $seconday-color;
        margin-right: 5px;
      }
      &:hover {
        color: $seconday-color;
        .icon {
          color: $primary-color;
        }
      }
    }
    .nav-link {
      color: $font-color;
      font-weight: $font-600;
      font-size: 16px;
      padding: 0;
      margin-right: 10px;
      transition: $transition;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .dropdown{
    &.show {
      .nav-link {
        color: $seconday-color;
      }
    }
  }
}
@media only screen and (max-width: 991px)
{
  .navbar-collapse {
    display: flex  !important;
    .navbar-nav {
      flex-direction: row;
      text-align: center;
      .nav-link {
        font-size: 13px;
        padding: 0 10px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .icon {
          display: block;
        }
      }
    }
  }
}