@import "../Style/Variables.scss";
@import "../Style/Mixin.scss";
@import "../Style/All.scss";
.cl-navigation {
  padding: 18px 0;
  .navbar-nav {
    .nav-link {
      color: $primary-color;
      font-weight: $font-600;
      font-size: 18px;
      padding: 8px 13px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      .icon {
        color: $seconday-color;
        margin-right: 5px;
      }
    }
  }
}
