@import "../Style/All.scss";
.cl-table {
  background-color: #fff;
  padding-bottom: 2px;
  @include box-shadow;
  padding: 0;
  font-size: 14px;
.table {
  margin-bottom: 0;
}
  th,
  td {
    border: none;
    padding: 9px 15px;
    font-size: 18px;
    font-weight: $font-500;
  }
  thead {
    background: $bg-color1;
    color: #968AAC;
    border-bottom: 1px solid $bg-all;
  }
  .trans-btn {
    background-color: $primary-color;
    color: $bg-color;
    border-radius: 16px;
    padding: 5px 15px;
  }
  tbody {
    td {
      color: #333;
      font-weight: $font-400;
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .cl-table {
    margin-bottom: 25px;
    .table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;;
    }
  }
}